---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_info","params":[{"account":"rHb9CJAWyB4rj91VRWn96DkukG4bwdtyTh"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\"result\":{\"account_data\":{\"Account\":\"rHb9CJAWyB4rj91VRWn96DkukG4bwdtyTh\",\"Balance\":\"999878\",\"EmailHash\":\"DF1352F23CD32812F4850B878AE4944C\",\"Flags\":0,\"LedgerEntryType\":\"AccountRoot\",\"OwnerCount\":0,\"PreviousTxnID\":\"FED4D2833693EAC3404F6A87B76E5055E66871DC460822B4FA7455CCB887CC8E\",\"PreviousTxnLgrSeq\":3271290,\"Sequence\":26521,\"TransferRate\":4294967295,\"index\":\"2B6AC232AA4C4BE41BF49D2459FA4A0347E1B543A4C92FCEE0821C0201E2E9A8\",\"urlgravatar\":\"http://www.gravatar.com/avatar/df1352f23cd32812f4850b878ae4944c\"},\"ledger_current_index\":3271492,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 02:46:46 GMT
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_info","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"account_data\":{\"Account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"Balance\":\"246994586\",\"Flags\":0,\"LedgerEntryType\":\"AccountRoot\",\"OwnerCount\":3,\"PreviousTxnID\":\"25BB46E6FA9BF1EC38A787536CC3821F24E4F434B0BD8F37643310A2C7926B43\",\"PreviousTxnLgrSeq\":3318482,\"Sequence\":327,\"index\":\"43A29F8B474DF86654B1BF9811BDA71AA8050124DD2567CC10F5D904838C15F7\"},\"ledger_current_index\":3351180,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:10 GMT
recorded_with: VCR 2.7.0
