---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_info","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"account_data\":{\"Account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"Balance\":\"246993898\",\"Flags\":0,\"LedgerEntryType\":\"AccountRoot\",\"OwnerCount\":3,\"PreviousTxnID\":\"4F22B8705D89DFF86162FE57403383D90C6C402DED941CF37AB83D616E55EC72\",\"PreviousTxnLgrSeq\":3409554,\"Sequence\":393,\"index\":\"43A29F8B474DF86654B1BF9811BDA71AA8050124DD2567CC10F5D904838C15F7\"},\"ledger_current_index\":3409576,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 18 Nov 2013 23:51:18 GMT
recorded_with: VCR 2.7.0
