---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"account_lines","params":[{"account":"rHb9CJAWyB4rj91VRWn96DkukG4bwdtyTh","ledger":"current"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"account\":\"rHb9CJAWyB4rj91VRWn96DkukG4bwdtyTh\",\"lines\":[{\"account\":\"rB5TihdPbKgMrkFqrqUC3yLdE8hhv4BdeY\",\"balance\":\"-858.9999999948836\",\"currency\":\"USD\",\"limit\":\"0\",\"limit_peer\":\"859\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rD1jovjQeEpvaDwn9wKaYokkXXrqo4D23x\",\"balance\":\"-1\",\"currency\":\"USD\",\"limit\":\"0\",\"limit_peer\":\"1\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rDv5FHeAdRSsUpSa1mLyrZKhSoRXzotCvY\",\"balance\":\"-1\",\"currency\":\"USD\",\"limit\":\"0\",\"limit_peer\":\"1\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rUjbzuRoQagHet3XnygZkfaTFTFkMoD3YG\",\"balance\":\"-50900100\",\"currency\":\"USD\",\"limit\":\"0\",\"limit_peer\":\"100000000\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rUjbzuRoQagHet3XnygZkfaTFTFkMoD3YG\",\"balance\":\"-9000000\",\"currency\":\"CNY\",\"limit\":\"0\",\"limit_peer\":\"10000000\",\"quality_in\":0,\"quality_out\":0}],\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 02:46:47 GMT
recorded_with: VCR 2.7.0
