---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"account_info","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"account_data\":{\"Account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"Balance\":\"246992800\",\"Flags\":0,\"LedgerEntryType\":\"AccountRoot\",\"OwnerCount\":4,\"PreviousTxnID\":\"A91B2A1F591A281EB35D84B5DE2E6E2FDE27392968EB100FAAF319004F231AA5\",\"PreviousTxnLgrSeq\":3557979,\"Sequence\":498,\"index\":\"43A29F8B474DF86654B1BF9811BDA71AA8050124DD2567CC10F5D904838C15F7\"},\"ledger_current_index\":3557990,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Tue, 26 Nov 2013 21:39:38 GMT
recorded_with: VCR 2.7.0
