---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_info","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"account_data\":{\"Account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"Balance\":\"246994586\",\"Flags\":0,\"LedgerEntryType\":\"AccountRoot\",\"OwnerCount\":3,\"PreviousTxnID\":\"25BB46E6FA9BF1EC38A787536CC3821F24E4F434B0BD8F37643310A2C7926B43\",\"PreviousTxnLgrSeq\":3318482,\"Sequence\":327,\"index\":\"43A29F8B474DF86654B1BF9811BDA71AA8050124DD2567CC10F5D904838C15F7\"},\"ledger_current_index\":3351180,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:10 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_info","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "Unable to service at this time\r\n"
  recorded_at: Mon, 18 Nov 2013 22:46:32 GMT
recorded_with: VCR 2.7.0
