---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_lines","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj","ledger":"current"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"lines\":[{\"account\":\"rhxwHhfMhySyYB5Wrq7ohSNBqBfAYanAAx\",\"balance\":\"0.999\",\"currency\":\"BTC\",\"limit\":\"1\",\"limit_peer\":\"0\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rhxwHhfMhySyYB5Wrq7ohSNBqBfAYanAAx\",\"balance\":\"0\",\"currency\":\"USD\",\"limit\":\"1\",\"limit_peer\":\"0\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rHQFmb4ZaZLwqfFrNmJwnkizb7yfmkRS96\",\"balance\":\"-0.1872478112955953\",\"currency\":\"USD\",\"limit\":\"0\",\"limit_peer\":\"20\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rfGKu3tSxwMFZ5mQ6bUcxWrxahACxABqKc\",\"balance\":\"0.539499\",\"currency\":\"USD\",\"limit\":\"20\",\"limit_peer\":\"20\",\"quality_in\":0,\"quality_out\":0},{\"account\":\"rKBt4cVu9UP8L66Nn4e6f9BLfaMcKRVYPa\",\"balance\":\"0\",\"currency\":\"BTC\",\"limit\":\"0\",\"limit_peer\":\"10\",\"quality_in\":0,\"quality_out\":0}],\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:13 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_lines","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj","ledger":"current"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"account\":\"r4LADqzmqQU[...]
