---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"account_info","params":[{"account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"account_data\":{\"Account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"Balance\":\"246991009\",\"Flags\":0,\"LedgerEntryType\":\"AccountRoot\",\"OwnerCount\":4,\"PreviousTxnID\":\"7450242B749A9953D6423DB4260D1490ACCD43AB1A5490651530476ED32830A2\",\"PreviousTxnLgrSeq\":3674945,\"Sequence\":673,\"index\":\"43A29F8B474DF86654B1BF9811BDA71AA8050124DD2567CC10F5D904838C15F7\"},\"ledger_current_index\":3674945,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Tue, 03 Dec 2013 04:10:27 GMT
recorded_with: VCR 2.7.0
