---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"submit","params":[{"secret":"ssm5HPoeEZYJWvkJvQW9ro6e6hW9m","tx_json":{"Flags":0,"TransactionType":"Payment","Account":"rfGKu3tSxwMFZ5mQ6bUcxWrxahACxABqKc","Fee":15}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"error\":\"dstActMissing\",\"error_code\":39,\"error_message\":\"Destination
        account does not exist.\",\"request\":{\"command\":\"submit\",\"secret\":\"ssm5HPoeEZYJWvkJvQW9ro6e6hW9m\",\"tx_json\":{\"Account\":\"rfGKu3tSxwMFZ5mQ6bUcxWrxahACxABqKc\",\"Fee\":15,\"Flags\":0,\"TransactionType\":\"Payment\"}},\"status\":\"error\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 01:29:39 GMT
recorded_with: VCR 2.7.0
