---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"ledger_closed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"ledger_hash\":\"4806B4E55E0B1A077A3637ED0CACC5ADB11DA7C00CFFDDBAD448B1D556DF354B\",\"ledger_index\":3269929,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 00:43:55 GMT
recorded_with: VCR 2.7.0
