---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"ledger_current"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"ledger_current_index\":3674946,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Tue, 03 Dec 2013 04:10:34 GMT
recorded_with: VCR 2.7.0
