---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"ledger_closed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"ledger_hash\":\"9AA4E926D488DD20AF072BF80B3294900DB328C8A6DF2B4EB012A6FB61BD61CF\",\"ledger_index\":3351180,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:20 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"ledger_closed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"ledger_hash\":\"3ABF7FA5714EE087C311EF187D90C81215FEDAF27DCD4FB34B92D32364DB68B0\",\"ledger_index\":3408808,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 18 Nov 2013 22:46:35 GMT
recorded_with: VCR 2.7.0
