---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"ledger_closed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"ledger_hash\":\"5A404467E0A5499AFD1A71E0C0A861B7AE4550A1F7594B6305A5EA2555BFB98E\",\"ledger_index\":3674945,\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Tue, 03 Dec 2013 04:10:34 GMT
recorded_with: VCR 2.7.0
