---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"ripple_path_find","params":[{"source_account":"r9cZA1mLK5R5Am25ArfXFmqgNwjZgnfk59","destination_account":"r9cZA1mLK5R5Am25ArfXFmqgNwjZgnfk59","destination_amount":{"currency":"EUR","value":"0.0001","issuer":"rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B"},"source_currencies":[{"currency":"USD"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "Unable to service at this time\r\n"
  recorded_at: Tue, 19 Nov 2013 01:23:39 GMT
recorded_with: VCR 2.7.0
