---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"ripple_path_find","params":[{"source_account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj","destination_account":"rfGKu3tSxwMFZ5mQ6bUcxWrxahACxABqKc","destination_amount":"0.0001","source_currencies":[{"currency":"USD"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"error\":\"invalidParams\",\"error_code\":25,\"error_message\":\"Invalid
        parameters.\",\"request\":{\"command\":\"ripple_path_find\",\"destination_account\":\"rfGKu3tSxwMFZ5mQ6bUcxWrxahACxABqKc\",\"destination_amount\":\"0.0001\",\"source_account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"source_currencies\":[{\"currency\":\"USD\"}]},\"status\":\"error\"}}\n\n\r\n"
  recorded_at: Tue, 12 Nov 2013 20:44:39 GMT
recorded_with: VCR 2.7.0
