---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"server_info"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "Unable to service at this time\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:21 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"server_info"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"info\":{\"build_version\":\"0.19.1\",\"complete_ledgers\":\"32570-3674121\",\"hostid\":\"BUSH\",\"last_close\":{\"converge_time_s\":2.24,\"proposers\":1},\"load_factor\":1,\"peers\":52,\"pubkey_node\":\"n9KNUUntNaDqvMVMKZLPHhGaWZDnx7soeUiHjeQE8ejR45DmHyfx\",\"server_state\":\"syncing\",\"validated_ledger\":{\"age\":3,\"base_fee_xrp\":1e-05,\"hash\":\"FFCC02EA6A333E49074560B5B69DC7E33B13590E7458C2F9094AD102E8AA9820\",\"reserve_base_xrp\":50,\"reserve_inc_xrp\":12.5,\"seq\":3674121},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Tue, 03 Dec 2013 03:08:26 GMT
recorded_with: VCR 2.7.0
