---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "Unable to service at this time\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:21 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"state\":{\"build_version\":\"0.17.0-rc5\",\"complete_ledgers\":\"32570-3408810\",\"last_close\":{\"converge_time\":6078,\"proposers\":0},\"load_base\":256,\"load_factor\":256,\"peers\":42,\"pubkey_node\":\"n9LLc5eEh8RqRauHcPt8A8BE8AcNie9H7cGEQUEp7pUe9HbRWN8W\",\"server_state\":\"syncing\",\"validated_ledger\":{\"base_fee\":10,\"close_time\":438129990,\"hash\":\"CC2B9F9A1C3921EBADBC20BBE6B0036EF7BEACFE95B24E54A6E32324B66D09C9\",\"reserve_base\":50000000,\"reserve_inc\":12500000,\"seq\":3408810},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 18 Nov 2013 22:46:38 GMT
recorded_with: VCR 2.7.0
