---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"state\":{\"build_version\":\"0.17.0-rc5\",\"complete_ledgers\":\"32570-3269865\",\"last_close\":{\"converge_time\":2069,\"proposers\":5},\"load_base\":256,\"load_factor\":256,\"peers\":34,\"pubkey_node\":\"n9LRSvNgP3gVqyXd6RBnRet1KyRZhVGBWfGJZwYAmKAhxpBmmcnf\",\"server_state\":\"full\",\"validated_ledger\":{\"base_fee\":10,\"close_time\":437445550,\"hash\":\"4F30A07F278856B314AF42A6BA0C22A17C8B4794FE1E3FEE95BA4DD98B6ECDA7\",\"reserve_base\":50000000,\"reserve_inc\":12500000,\"seq\":3269865},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 00:39:16 GMT
recorded_with: VCR 2.7.0
