---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "Unable to service at this time\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:21 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"state\":{\"build_version\":\"0.19.1\",\"complete_ledgers\":\"32570-3578156\",\"last_close\":{\"converge_time\":2055,\"proposers\":5},\"load_base\":256,\"load_factor\":256,\"peers\":42,\"pubkey_node\":\"n9KNUUntNaDqvMVMKZLPHhGaWZDnx7soeUiHjeQE8ejR45DmHyfx\",\"server_state\":\"syncing\",\"validated_ledger\":{\"base_fee\":10,\"close_time\":438905720,\"hash\":\"D3A891651F0197BEA6E9F6A37F34C9B343D540A3573964B7B4B830F65F8F8B8C\",\"reserve_base\":50000000,\"reserve_inc\":12500000,\"seq\":3578156},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Wed, 27 Nov 2013 22:15:29 GMT
recorded_with: VCR 2.7.0
