---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_info"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: "Unable to service at this time\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:21 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_info"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"info\":{\"build_version\":\"0.17.0-rc5\",\"complete_ledgers\":\"32570-3561258\",\"hostid\":\"SEEM\",\"last_close\":{\"converge_time_s\":2.054,\"proposers\":2},\"load_factor\":1,\"peers\":46,\"pubkey_node\":\"n9KZTt9msBy53McxuGufwgHeD7hZv5gBPbVwkWS5uwvWQyoMiEQD\",\"server_state\":\"syncing\",\"validated_ledger\":{\"age\":6,\"base_fee_xrp\":1e-05,\"hash\":\"D300FED60E32459A43076F1C23D385FA3AE1708CD92D88C0834A6F934052AD61\",\"reserve_base_xrp\":50,\"reserve_inc_xrp\":12.5,\"seq\":3561258},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Wed, 27 Nov 2013 01:38:56 GMT
recorded_with: VCR 2.7.0
