---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"state\":{\"build_version\":\"0.17.0-rc5\",\"complete_ledgers\":\"32570-3271167\",\"last_close\":{\"converge_time\":3035,\"proposers\":4},\"load_base\":256,\"load_factor\":256,\"peers\":37,\"pubkey_node\":\"n9LdD8suq4oHyT9hyCDAgXuCMYoWTHm73d4r7CwT7BSV9stmnkgt\",\"server_state\":\"full\",\"validated_ledger\":{\"base_fee\":10,\"close_time\":437451730,\"hash\":\"82E8BA473031615768C93C35AB0E6649673A597B87377FD99E0D702030F2B36D\",\"reserve_base\":50000000,\"reserve_inc\":12500000,\"seq\":3271167},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 02:22:15 GMT
recorded_with: VCR 2.7.0
