---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: "Unable to service at this time\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:21 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"state\":{\"build_version\":\"0.18.0\",\"complete_ledgers\":\"32570-3558665\",\"last_close\":{\"converge_time\":2185,\"proposers\":0},\"load_base\":256,\"load_factor\":256,\"peers\":44,\"pubkey_node\":\"n9LLc5eEh8RqRauHcPt8A8BE8AcNie9H7cGEQUEp7pUe9HbRWN8W\",\"server_state\":\"syncing\",\"validated_ledger\":{\"base_fee\":10,\"close_time\":438820120,\"hash\":\"8EE01CDA3D506FBE889C1455824BF0A2ABFFA037F629559E064E8F8EB5084F3F\",\"reserve_base\":50000000,\"reserve_inc\":12500000,\"seq\":3558665},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Tue, 26 Nov 2013 22:28:46 GMT
recorded_with: VCR 2.7.0
