---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_info"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"info\":{\"build_version\":\"0.17.0-rc5\",\"complete_ledgers\":\"32570-3269859\",\"hostid\":\"TRIM\",\"last_close\":{\"converge_time_s\":2.036,\"proposers\":5},\"load_factor\":1,\"peers\":34,\"pubkey_node\":\"n9LRSvNgP3gVqyXd6RBnRet1KyRZhVGBWfGJZwYAmKAhxpBmmcnf\",\"server_state\":\"full\",\"validated_ledger\":{\"age\":8,\"base_fee_xrp\":1e-05,\"hash\":\"53D4BAC0EF217C64220478886A7F592A668D0B8B6A41550B5D3C9C16D8543F70\",\"reserve_base_xrp\":50,\"reserve_inc_xrp\":12.5,\"seq\":3269859},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 00:38:47 GMT
recorded_with: VCR 2.7.0
