---
http_interactions:
- request:
    method: post
    uri: https://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_info"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: "Unable to service at this time\r\n"
  recorded_at: Fri, 15 Nov 2013 20:47:21 GMT
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_info"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"info\":{\"build_version\":\"0.18.0\",\"complete_ledgers\":\"32570-3561595\",\"hostid\":\"BUSH\",\"last_close\":{\"converge_time_s\":2.015,\"proposers\":4},\"load_factor\":1,\"peers\":45,\"pubkey_node\":\"n9KNUUntNaDqvMVMKZLPHhGaWZDnx7soeUiHjeQE8ejR45DmHyfx\",\"server_state\":\"syncing\",\"validated_ledger\":{\"age\":0,\"base_fee_xrp\":1e-05,\"hash\":\"27C129CB2A7049912A2CCF0590A9C292EBD70BC8FAB2D3A4F8909A7D271C1462\",\"reserve_base_xrp\":50,\"reserve_inc_xrp\":12.5,\"seq\":3561595},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Wed, 27 Nov 2013 02:03:31 GMT
recorded_with: VCR 2.7.0
