---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"state\":{\"build_version\":\"0.19.1\",\"complete_ledgers\":\"32570-3674946\",\"last_close\":{\"converge_time\":3061,\"proposers\":4},\"load_base\":256,\"load_factor\":1221,\"peers\":52,\"pubkey_node\":\"n9KmrBnGoyVf89WYdiAnvGnKFaVqjLdAYjKrBuvg2r8pMxGPp6MF\",\"server_state\":\"syncing\",\"validated_ledger\":{\"base_fee\":10,\"close_time\":439359030,\"hash\":\"539F76AEEFD73209534137ED3350AF71D1B452C50D610067679BF7FBE69BDE64\",\"reserve_base\":50000000,\"reserve_inc\":12500000,\"seq\":3674946},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Tue, 03 Dec 2013 04:10:38 GMT
recorded_with: VCR 2.7.0
