---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: '{"method":"server_state"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"state\":{\"build_version\":\"0.17.0-rc2\",\"complete_ledgers\":\"32570-3271492\",\"last_close\":{\"converge_time\":2049,\"proposers\":4},\"load_base\":256,\"load_factor\":256,\"peers\":38,\"pubkey_node\":\"n9MEEymdFKzgi6eXR2H5bNNVFbr9KY7iajPpCRqZwjHiSyEinnt5\",\"server_state\":\"syncing\",\"validated_ledger\":{\"base_fee\":10,\"close_time\":437453210,\"hash\":\"6A01AFC7333C3C98CCB7A951A3BC9C2D05D37F3CFBCEE46A37EB0844B0D25D5E\",\"reserve_base\":50000000,\"reserve_inc\":12500000,\"seq\":3271492},\"validation_quorum\":3},\"status\":\"success\"}}\n\n\r\n"
  recorded_at: Mon, 11 Nov 2013 02:46:50 GMT
recorded_with: VCR 2.7.0
