---
http_interactions:
- request:
    method: post
    uri: http://s1.ripple.com:51234/
    body:
      encoding: UTF-8
      string: ! '{"method":"submit","params":[{"secret":"ssm5HPoeEZYJWvkJvQW9ro6e6hW9m","tx_json":{"TransactionType":"Payment","Account":"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj","Destination":"rfGKu3tSxwMFZ5mQ6bUcxWrxahACxABqKc","Amount":"0.0001"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"result\":{\"error\":\"malformedTransaction\",\"error_exception\":\"std::bad_cast\",\"request\":{\"command\":\"submit\",\"secret\":\"ssm5HPoeEZYJWvkJvQW9ro6e6hW9m\",\"tx_json\":{\"Account\":\"r4LADqzmqQUMhgSyBLTtPMG4pAzrMDx7Yj\",\"Amount\":\"0.0001\",\"Destination\":\"rfGKu3tSxwMFZ5mQ6bUcxWrxahACxABqKc\",\"TransactionType\":\"Payment\"}},\"status\":\"error\"}}\n\n\r\n"
  recorded_at: Tue, 12 Nov 2013 04:02:08 GMT
recorded_with: VCR 2.7.0
